<div class="container" [ngSwitch]="currentStatus">
  <div class="languages">
    <div
      (click)="changeLanguage(languages.ES)"
      class="lang waves-effect waves-light"
      [ngClass]="{ selected: selectedLanguage == languages.ES }"
    >
      <span class="flag-icon flag-icon-mx"></span>
    </div>
    <div
      (click)="changeLanguage(languages.EN)"
      class="lang waves-effect waves-light"
      [ngClass]="{ selected: selectedLanguage == languages.EN }"
    >
      <span class="flag-icon flag-icon-us"></span>
    </div>
  </div>
  <h2 class="title">{{ appStrings.title }}</h2>
  <div class="loading" *ngSwitchCase="Status.loading">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div class="loaded" *ngSwitchCase="Status.loaded">
    <div class="game-container">
      <img class="image z-depth-4" [src]="this.options[correct].image_url" />
      <div class="score-container">
        <span class="z-depth-1">{{ appStrings.score }}: {{ score }}</span>
        <span class="z-depth-1"
          >{{ appStrings.bestScore }}: {{ bestScore }}</span
        >
      </div>
      <div class="options-container">
        <div
          class="option z-depth-2 waves-effect waves-light btn"
          *ngFor="let option of this.options; let i = index"
          (click)="selectAnswer(i)"
        >
          <span>{{ option.title }}</span>
          <span class="anime-title"
            >Anime:
            {{
              option.animeography.length != 0
                ? option.animeography[0].name
                : option.mangaography[0].name
            }}</span
          >
        </div>
      </div>
    </div>
  </div>

  <div class="error" *ngSwitchCase="Status.error">
    <h4>{{ appStrings.errorMessage }}</h4>
    <button
      class="btn waves-effect waves-light indigo action-btn"
      (click)="this.getRandomCharacter()"
    >
      {{ appStrings.retry }}
    </button>
  </div>
</div>

<div class="modal">
  <div class="modal-content game-over" *ngIf="this.options[correct]">
    <div class="modal-title-container">
      <h3>{{ appStrings.incorrect }}</h3>
      <h4>{{ appStrings.score }}: {{ score }}</h4>
    </div>
    <h4>{{ appStrings.correctAnswer }}:</h4>
    <img class="correct-img shadow" [src]="this.options[correct].image_url" />
    <div class="character-info shadow">
      <span class="character-name">{{ this.options[correct].title }}</span>
      <span class="character-anime"
        >Anime:
        {{
          this.options[correct].animeography.length != 0
            ? this.options[correct].animeography[0].name
            : this.options[correct].mangaography[0].name
        }}</span
      >
    </div>
    <button
      class="action-btn btn waves-effect waves-light indigo"
      (click)="this.reset()"
    >
      {{ appStrings.retry }}
    </button>
  </div>
</div>

<ul class="background">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
